<a href="https://colab.research.google.com/github/Syilun/ML20200716/blob/master/Titanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [93]:
from google.colab import files
files.upload() # upload kaggle.json colab的功能
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

Saving kaggle.json to kaggle (2).json

In [120]:
!kaggle competitions download -c titanic

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
test.csv: Skipping, found more recently modified local copy (use --force to force download)
train.csv: Skipping, found more recently modified local copy (use --force to force download)
gender_submission.csv: Skipping, found more recently modified local copy (use --force to force download)

In [121]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [122]:
import pandas as pd
train_df = pd.read_csv('train.csv', encoding='utf8')
test_df = pd.read_csv('test.csv', encoding='utf8')

In [123]:
train_df

     PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0              1         0       3  ...   7.2500   NaN         S
1              2         1       1  ...  71.2833   C85         C
2              3         1       3  ...   7.9250   NaN         S
3              4         1       1  ...  53.1000  C123         S
4              5         0       3  ...   8.0500   NaN         S
..           ...       ...     ...  ...      ...   ...       ...
886          887         0       2  ...  13.0000   NaN         S
887          888         1       1  ...  30.0000   B42         S
888          889         0       3  ...  23.4500   NaN         S
889          890         1       1  ...  30.0000  C148         C
890          891         0       3  ...   7.7500   NaN         Q

[891 rows x 12 columns]

In [124]:
test_df

     PassengerId  Pclass  ... Cabin Embarked
0            892       3  ...   NaN        Q
1            893       3  ...   NaN        S
2            894       2  ...   NaN        Q
3            895       3  ...   NaN        S
4            896       3  ...   NaN        S
..           ...     ...  ...   ...      ...
413         1305       3  ...   NaN        S
414         1306       1  ...  C105        C
415         1307       3  ...   NaN        S
416         1308       3  ...   NaN        S
417         1309       3  ...   NaN        C

[418 rows x 11 columns]

In [125]:
datas = pd.concat([train_df, test_df], axis=0)

In [126]:
datas = datas.drop(['PassengerId', 'Survived'],axis=1)

In [127]:
datas

     Pclass                                               Name  ... Cabin  Embarked
0         3                            Braund, Mr. Owen Harris  ...   NaN         S
1         1  Cumings, Mrs. John Bradley (Florence Briggs Th...  ...   C85         C
2         3                             Heikkinen, Miss. Laina  ...   NaN         S
3         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)  ...  C123         S
4         3                           Allen, Mr. William Henry  ...   NaN         S
..      ...                                                ...  ...   ...       ...
413       3                                 Spector, Mr. Woolf  ...   NaN         S
414       1                       Oliva y Ocana, Dona. Fermina  ...  C105         C
415       3                       Saether, Mr. Simon Sivertsen  ...   NaN         S
416       3                                Ware, Mr. Frederick  ...   NaN         S
417       3                           Peter, Master. Michael J  ...   NaN         C

[1309 rows x 10 columns]

In [128]:
# Step1. 補缺失值
missing = datas.isna().sum()

# 篩選 series[[True...]]
missing[missing > 0]

Age          263
Fare           1
Cabin       1014
Embarked       2
dtype: int64

In [129]:
# 確認數字的類型: 1.連續 2.離散
# 補missing方法: 最常出現/不補
most = datas['Embarked'].value_counts().idxmax()
datas['Embarked'] = datas['Embarked'].fillna(most)

In [130]:
# 補數字類型
med = datas.median().drop('Pclass') # Pclass因為是離散，應該補最常出現的
d = datas.fillna(med)
d.isna().sum()

Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin       1014
Embarked       0
dtype: int64

In [131]:
d['Ticket'].value_counts()

CA. 2343         11
CA 2144           8
1601              8
347077            7
3101295           7
                 ..
28206             1
C.A. 42795        1
S.O./P.P. 251     1
350025            1
382653            1
Name: Ticket, Length: 929, dtype: int64

In [132]:
# 處理Name&Ticket

# def name(n):
#   n = n.split(',')[-1].split('.')[0]
#   return n.strip() # strip() 將左右兩邊的空白與換行改成換行
# datas['Name'].apply(name).value_counts()

In [133]:
# # 處理Name&Ticket

# def name(n):
#   n = n.split(',')[-1].split('.')[0]
#   return n.strip() # strip() 將左右兩邊的空白與換行改成換行
# v = datas['Name'].apply(name).value_counts()
# white = v.index[:4]
# white

In [134]:
# # 處理Name&Ticket

# def name(n):
#   n = n.split(',')[-1].split('.')[0]
#   n = n.strip() # strip() 將左右兩邊的空白與換行改成換行
#   if n in white:
#     return n
#   else:
#     return None
# v = datas['Name'].apply(name).value_counts()
# white = v.index[:4]
# white

# # 缺失值不補可以用 One-hot encoding，把缺失值補為0,0,0也就是None

In [135]:
# 處理Name&Ticket

def name(n):
  n = n.split(',')[-1].split('.')[0]
  n = n.strip() # strip() 將左右兩邊的空白與換行改成換行
  if n in white:
    return n
  else:
    return None
datas['Name'] = datas['Name'].apply(name)
datas
# 缺失值不補可以用 One-hot encoding，把缺失值補為0,0,0也就是None

     Pclass    Name     Sex   Age  ...              Ticket      Fare Cabin  Embarked
0         3      Mr    male  22.0  ...           A/5 21171    7.2500   NaN         S
1         1     Mrs  female  38.0  ...            PC 17599   71.2833   C85         C
2         3    Miss  female  26.0  ...    STON/O2. 3101282    7.9250   NaN         S
3         1     Mrs  female  35.0  ...              113803   53.1000  C123         S
4         3      Mr    male  35.0  ...              373450    8.0500   NaN         S
..      ...     ...     ...   ...  ...                 ...       ...   ...       ...
413       3      Mr    male   NaN  ...           A.5. 3236    8.0500   NaN         S
414       1    None  female  39.0  ...            PC 17758  108.9000  C105         C
415       3      Mr    male  38.5  ...  SOTON/O.Q. 3101262    7.2500   NaN         S
416       3      Mr    male   NaN  ...              359309    8.0500   NaN         S
417       3  Master    male   NaN  ...                2668   22.3583   NaN         C

[1309 rows x 10 columns]

In [136]:
v = datas['Ticket'].value_counts()
v
def ticket(t):
  global v
  return v[t]
datas['Ticket'].apply(ticket)

CA. 2343         11
CA 2144           8
1601              8
347077            7
3101295           7
                 ..
28206             1
C.A. 42795        1
S.O./P.P. 251     1
350025            1
382653            1
Name: Ticket, Length: 929, dtype: int64

In [139]:
def ticket(t):
  global v
  return v[t]
t = datas['Ticket'].apply(ticket)

0      1
1      2
2      1
3      2
4      1
      ..
413    1
414    3
415    1
416    1
417    3
Name: Ticket, Length: 1309, dtype: int64

In [119]:
datas = datas.drop(['Cabin'], axis=1)
datas

KeyError: ignored

In [112]:
datas = datas.reset_index(drop=True)

In [113]:
# One-hot encoding 處理類別字串
# 比如embarked中的 S C Q轉為3*3矩陣 100, 010, 001
# Pclass，1 2 3，有大小關係但不能以中位數來補
datas = pd.get_dummies(datas)

In [114]:
datas

      Pclass   Age  SibSp  ...  Embarked_C  Embarked_Q  Embarked_S
0          3  22.0      1  ...           0           0           1
1          1  38.0      1  ...           1           0           0
2          3  26.0      0  ...           0           0           1
3          1  35.0      1  ...           0           0           1
4          3  35.0      0  ...           0           0           1
...      ...   ...    ...  ...         ...         ...         ...
1304       3   NaN      0  ...           0           0           1
1305       1  39.0      0  ...           1           0           0
1306       3  38.5      0  ...           0           0           1
1307       3   NaN      0  ...           0           0           1
1308       3   NaN      1  ...           1           0           0

[1309 rows x 943 columns]

In [115]:
x_train = datas.iloc[0:len(train_df)]
x_predict = datas.iloc[len(train_df):]
y_train = train_df['Survived']

In [116]:
x_train

     Pclass   Age  SibSp  ...  Embarked_C  Embarked_Q  Embarked_S
0         3  22.0      1  ...           0           0           1
1         1  38.0      1  ...           1           0           0
2         3  26.0      0  ...           0           0           1
3         1  35.0      1  ...           0           0           1
4         3  35.0      0  ...           0           0           1
..      ...   ...    ...  ...         ...         ...         ...
886       2  27.0      0  ...           0           0           1
887       1  19.0      0  ...           0           0           1
888       3   NaN      1  ...           0           0           1
889       1  26.0      0  ...           1           0           0
890       3  32.0      0  ...           0           1           0

[891 rows x 943 columns]

In [117]:
# iteratibeImputer() 看一欄位與其他欄位相關程度